.contact-box{
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: #111;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    color: white;
    text-align: center;
}

.contact-img{
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.form-label{
    font-weight: 600;
    color: #f5f5f5;
    display: block;
    text-align: left;
}

.form-control{
    background: #222;
    border: 1px solid #444;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.form-control:focus{
    border-color: #0d6efd;
    box-shadow: 0 0 10px #0d6efd;
    background: #222;
    color: white;
}

.form-text{
    color: #bbb;
    text-align: left;
}

.form-check{
    text-align: left;
}

.form-check-label{
    color: #ddd;
}

.btn-primary{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background: linear-gradient(45deg,#0d6efd,#00c6ff);
    border: none;
    transition: 0.3s;
}

.btn-primary:hover{
    transform: scale(1.05);
    background: linear-gradient(45deg,#00c6ff,#0d6efd);
}