<div class="container-fluid px-0">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade rounded-4 overflow-hidden shadow-sm" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://kerala.gov.in/Banner/malbanner1905202612:49:43.jpg" class="d-block w-100 carousel-image" alt="Kerala banner">
      </div>
      <div class="carousel-item">
        <img src="https://img.onmanorama.com/content/dam/mm/en/kerala/top-news/images/2026/5/15/satheesan%20vd%20.jpg" class="d-block w-100 carousel-image" alt="V D Satheesan">
      </div>
      <div class="carousel-item">
        <img src="https://keralakaumudi.com/web-news/en/2024/02/NMAN0469789/image/congress-kerala-thrissur-.1.2569130.jpg" class="d-block w-100 carousel-image" alt="Kerala politics">
      </div>
      <div class="carousel-item">
        <img src="https://img.onmanorama.com/content/dam/mm/en/archive/kerala/top-news/images/2026/1/6/congress-summit.jpg" class="d-block w-100 carousel-image" alt="Kerala summit">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
