<div class="container">
  <section>
    <h2>About Kerala Government</h2>
    <p class="mb-4">Kerala is governed as a state within the Republic of India, with a parliamentary system led by the Chief Minister and overseen by the Governor. The state government manages public services such as health, education, agriculture, transport, and social welfare, while working through state ministries to deliver policies for citizens.
         The Kerala Government 2026 is led by Chief Minister 
        V D Satheesan under the United Democratic Front (UDF). 
        The new government focuses on development, public welfare, 
        education, healthcare, employment, and modern infrastructure 
        across the state. The cabinet includes experienced leaders 
        handling important departments such as Home Affairs, Finance, 
        Agriculture, Health, and Forest. The government aims to improve 
        the quality of life of people in Kerala through transparent 
        administration and people-friendly policies. 
    </p>
  </section>
</div>
